#############################################
############### APP (Angular) ###############

# Compiled output
/app/dist
/app/tmp
/app/out-tsc
/app/bazel-out

# Node
/app/node_modules
/app/npm-debug.log
/app/yarn-error.log

# IDEs and editors
/app/.idea/
/app/.project
/app/.classpath
/app/c9/
/app/*.launch
/app/.settings/
/app/*.sublime-workspace

# Visual Studio Code
/app/.vscode/
/app/.vscode/*
/app/!.vscode/settings.json
/app/!.vscode/tasks.json
/app/!.vscode/launch.json
/app/!.vscode/extensions.json
/app/.history/*

# Miscellaneous
/app/.angular/cache
/app/.sass-cache/
/app/connect.lock
/app/coverage
/app/libpeerconnection.log
/app/testem.log
/app/typings

# System files
/app/.DS_Store
/app/Thumbs.db


#############################################
############## SERVER (Nest.js) #############

# compiled output
/server/dist
/server/node_modules

# Logs
/server/logs
/server/*.log
/server/npm-debug.log*
/server/pnpm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/server/lerna-debug.log*

# OS
/server/.DS_Store

# Tests
/server/coverage
/server/.nyc_output

# IDEs and editors
/server/.idea
/server/.project
/server/.classpath
/server/.c9/
/server/*.launch
/server/.settings/
/server/*.sublime-workspace

# IDE - VSCode
/server/.vscode/*
/server/!.vscode/settings.json
/server/!.vscode/tasks.json
/server/!.vscode/launch.json
/server/!.vscode/extensions.json