<!-- Encabezado -->
<app-header></app-header>

<h3><a routerLink="/">Home</a></h3>
<h3><a routerLink="/encargos">/encargos</a></h3>
<h3><a routerLink="/encargos/encargo/1">/encargos/encargo/1</a></h3>
<h3><a routerLink="/encargos/nuevo">/encargos/nuevo</a></h3>
<h3><a routerLink="/servicios">/servicios</a></h3>
<h3><a routerLink="/servicios/servicio/1">/servicios/servicio/1</a></h3>
<h3><a routerLink="/servicios/nuevo">/servicios/nuevo</a></h3>
<h3><a routerLink="/acceso">/acceso</a></h3>
<h3><a routerLink="/acceso/login">/acceso/login</a></h3>
<h3><a routerLink="/acceso/registro">/acceso/registro</a></h3>

<!-- Navegación -->
<router-outlet></router-outlet>

<!-- Pie de página -->
<app-footer></app-footer>